@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: hidden;
  color: black;
}

.bgnav {
  background: linear-gradient(
    rgba(247, 103, 78, 0.541),
    rgba(68, 86, 86, 0.578)
  );
}
.bglogo {
  background: linear-gradient(
    rgba(252, 255, 52, 0.658),
    rgba(253, 112, 112, 0.651)
  );
}
.bgcolorDeatils {
  background: linear-gradient(
    rgba(81, 70, 70, 0.856),
    rgba(89, 18, 54, 0.549)
  );
}
.bgtop {
  background: linear-gradient(
    rgba(52, 255, 255, 0.236),
    rgba(253, 112, 112, 0.651)
  );
}
.bghour {
  background: linear-gradient(
    rgba(238, 241, 7, 0.129),
    rgba(253, 112, 112, 0.651)
  );
}
