@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Fjalla+One&family=Josefin+Sans&family=Kanit:wght@500&family=Lumanosimo&family=Noto+Sans+Cypro+Minoan&family=Roboto+Slab&family=Roboto:ital,wght@0,300;1,300&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
  color: white
}

.bgnav {
  background-color: rgb(18, 18, 18);

}
.bglogo {
  background: linear-gradient(
    rgba(1, 255, 230, 0.778),
    rgba(7, 227, 128, 0.47)
  );
}
.bgcolorDeatils {
  /* background: linear-gradient(
    rgb(100, 98, 93),
    rgb(88, 80, 62)
  ); */
  @apply bg-gradient-to-t from-slate-500 to-amber-500
}
.bgtop {
  background-color: rgba(31, 25, 2, 0.167);
}
.bghour {
  background: rgba(0, 0, 0, 0.075)
}
.loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}